* {
  border: 0;
  margin: 0;
}
html,
body {
  height: 100% !important;
}
h1 {
  font-weight: 400;
  font-size: 14px;
  color: #333;
}
body {
  min-width: 1024px;
  overflow: auto;
}
body .commentPlugin div,
body .commentPlugin span,
body .commentPlugin a,
body .commentPlugin input,
body .commentPlugin textarea {
  font-size: 14px;
  color: #fff;
}
div,
span,
a,
input,
textarea {
  font-size: 14px;
  color: #333;
}
.digit div,
.digit span {
  font-size: 90px;
  color: #FFF;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input:focus {
  border: 1px solid #4A90E2;
  outline: none;
}
::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}
::-moz-placeholder {
  font-size: 14px;
  color: #999;
}
.df {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}
.sizeFull {
  width: 100%;
  height: 100%;
}
.sizeFullWidth {
  width: 100%;
}
.sizeFullHeight {
  height: 100%;
}
.mi-container {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 23;
}
.container-car-info,
.container-car-mi {
  position: fixed !important;
  left: 0;
  top: 128px;
  bottom: 40px;
  width: 37.8%;
  min-width: 390px;
  background-color: white;
  z-index: 23;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.container-car-info > .header,
.container-car-mi > .header {
  font-size: 14px;
  color: #333;
  padding-left: 10px;
  border-bottom: 1px solid #D8D8D8;
  flex-direction: column;
  background-color: #4a90e2;
}
.container-car-info > .header > .car-info-title-move,
.container-car-mi > .header > .car-info-title-move,
.container-car-info > .header > .car-info-mi-title-move,
.container-car-mi > .header > .car-info-mi-title-move {
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.container-car-info > .header > .car-info-title-move > span,
.container-car-mi > .header > .car-info-title-move > span,
.container-car-info > .header > .car-info-mi-title-move > span,
.container-car-mi > .header > .car-info-mi-title-move > span {
  color: white;
}
.container-car-info > .header > .car-info-title-move > .close,
.container-car-mi > .header > .car-info-title-move > .close,
.container-car-info > .header > .car-info-mi-title-move > .close,
.container-car-mi > .header > .car-info-mi-title-move > .close {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: url(../img/operate_spirit.png) no-repeat 0px -237px;
  display: block;
  background-size: 40px;
}
.container-car-info > .header > .car-info-title-move > .close:hover,
.container-car-mi > .header > .car-info-title-move > .close:hover,
.container-car-info > .header > .car-info-mi-title-move > .close:hover,
.container-car-mi > .header > .car-info-mi-title-move > .close:hover {
  background: url(../img/operate_spirit.png) no-repeat 0px -277px;
  background-size: 40px;
}
.container-car-info > .header > .search,
.container-car-mi > .header > .search {
  position: relative;
  flex: 1;
  height: 40px;
}
.container-car-info > .header > .search > .input,
.container-car-mi > .header > .search > .input {
  position: absolute;
  top: 4px;
  right: 7px;
  width: calc(100% - 50px);
  height: 30px;
  padding-left: 10px;
  padding-right: 40px;
  border-radius: 4px;
  background-color: white;
}
.container-car-info > .header > .search > .input-search-error,
.container-car-mi > .header > .search > .input-search-error {
  position: absolute;
  top: 36px;
  z-index: 11;
  right: 7px;
  height: 30px;
  background: #ffffff;
  text-align: left;
  line-height: 30px;
  width: 100%;
  color: #333333;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 0px, rgba(0, 0, 0, 0.24) 0px 2px 4px 0px;
}
.container-car-info > .header > .search > .img,
.container-car-mi > .header > .search > .img {
  position: absolute;
  top: 11px;
  right: 17px;
  width: 20px;
  height: 20px;
  background: url(https://cdns.007vin.com/img/spirit.png) no-repeat 0 -720px;
  background-size: 40px;
}
.container-car-info > .header > .search > .clear,
.container-car-mi > .header > .search > .clear {
  position: absolute;
  top: 10px;
  right: 41px;
  width: 20px;
  height: 20px;
  background: url(https://cdns.007vin.com/img/spirit.png) no-repeat 2px 2px;
  background-size: 200%;
  cursor: pointer;
}
.container-car-info > .content,
.container-car-mi > .content {
  position: relative;
  height: calc(100% - 80px);
  overflow: auto;
}
.container-car-info > .content > .container-info,
.container-car-mi > .content > .container-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 0;
  min-height: 33px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.container-car-info > .content > .container-info div,
.container-car-mi > .content > .container-info div {
  width: calc(100% - 200px);
  padding-left: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.container-car-info > .content > .container-info > .title,
.container-car-mi > .content > .container-info > .title {
  width: 189px;
  border-right: 1px solid #efefef;
}
.container-car-info > .content > .selected,
.container-car-mi > .content > .selected {
  box-sizing: border-box;
  border: 2px solid #3385ff;
  box-shadow: 0 0 4px 0 black inset;
}
.container-car-info > .content > .selected div,
.container-car-mi > .content > .selected div {
  display: block;
}
.container-car-info > .content > .container-info:hover,
.container-car-mi > .content > .container-info:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 2px;
}
.container-car-info > .content > .container-info:hover div,
.container-car-mi > .content > .container-info:hover div {
  display: block;
}
.position {
  left: auto;
  right: 0;
  top: 216px;
  bottom: 0;
}
.container-car-mi {
  min-width: 390px;
  min-height: 500px;
}
.container-car-mi .content .msg-text {
  padding: 8px 0 0 8px;
}
.container-car-mi .content .msg-text div {
  box-sizing: border-box;
  font-size: 12px;
  color: #999999;
}
.container-car-mi .content .msg-text span {
  display: flex;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  color: #999999;
}
.container-car-mi .content .msg-text span b {
  background: #7ED321;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 9px;
  margin-right: 5px;
  border-radius: 50%;
}
.container-car-mi .content .table {
  width: 100%;
}
.container-car-mi .content .table .table-head {
  height: 40px;
  line-height: 40px;
  display: flex;
  text-align: center;
  background: #F2F2F2;
}
.container-car-mi .content .table .table-head div:nth-child(1) {
  width: 20px;
  padding-left: 5px;
}
.container-car-mi .content .table .table-head div:nth-child(2) {
  width: 70px;
}
.container-car-mi .content .table .table-head div:nth-child(3) {
  width: 70px;
}
.container-car-mi .content .table .table-head div:nth-child(4) {
  flex: 1;
}
.container-car-mi .content .table .table-body .table-row {
  display: flex;
  border-bottom: 1px solid #F2F2F2;
}
.container-car-mi .content .table .table-body .table-row div {
  padding: 5px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 1px solid #F2F2F2;
}
.container-car-mi .content .table .table-body .table-row div:nth-child(1) {
  width: 20px;
}
.container-car-mi .content .table .table-body .table-row div:nth-child(1) b {
  background: #7ED321;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  border-radius: 50%;
}
.container-car-mi .content .table .table-body .table-row div:nth-child(2) {
  width: 70px;
}
.container-car-mi .content .table .table-body .table-row div:nth-child(3) {
  width: 70px;
}
.container-car-mi .content .table .table-body .table-row div:nth-child(4) {
  flex: 1;
}
.container-car-mi .content .table .table-body .bg-back {
  background: #D8D8D8;
}
