#homepage {
  position: absolute;
  top: 44px;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
#homepage img {
  background-image: none;
}
#homepage .homepage-top-container {
  position: relative;
}
#homepage .homepage-top-container .container-login {
  position: absolute;
  top: 20px;
  right: 0;
  width: 360px;
  height: 360px;
  margin-right: 80px;
  margin-left: 80px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  background: rgba(255, 255, 255, 0.99);
}
#homepage .homepage-top-container .container-login a {
  cursor: pointer;
  text-decoration: none;
}
#homepage .homepage-top-container .container-login .login-loading {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(/img/load.gif) no-repeat;
  background-size: 20px;
  top: 258px;
  right: 131px;
  display: none;
}
#homepage .homepage-top-container .container-login input {
  outline: none;
  border: 0;
  font-size: 14px;
}
#homepage .homepage-top-container .container-login > .title {
  color: #4A90E2;
  font-size: 18px;
  margin-top: 24px;
}
#homepage .homepage-top-container .container-login > .container-input {
  position: relative;
}
#homepage .homepage-top-container .container-login > .container-input > .input {
  width: 318px;
  height: 38px;
  background: #F6F6F6;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  padding-left: 10px;
}
#homepage .homepage-top-container .container-login > .container-input > .caps {
  position: absolute;
  top: 12px;
  right: 40px;
  display: none;
  width: 20px;
  height: 20px;
  background: url(https://cdns.007vin.com/img/icon_caps.png) no-repeat;
  background-size: 100%;
}
#homepage .homepage-top-container .container-login > .container-input > .clear {
  position: absolute;
  top: 14px;
  right: 10px;
  display: none;
  width: 20px;
  height: 20px;
  background-image: url(https://cdns.007vin.com/img/spirit.png);
  background-size: 200%;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .util-password {
  width: 331px;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
#homepage .homepage-top-container .container-login > .util-password > span > input {
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .util-password > span > span {
  color: #999;
}
#homepage .homepage-top-container .container-login > .util-password > a {
  color: #4A90E2;
}
#homepage .homepage-top-container .container-login > .button-login {
  background: #4A90E2;
  border: 1px solid rgba(73, 143, 226, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(73, 143, 226, 0.14), 0px 0px 2px 0px rgba(73, 143, 226, 0.12);
  border-radius: 4px;
  color: white;
  width: 331px;
  height: 40px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .button-login:hover {
  background-color: #1d77e0;
}
#homepage .homepage-top-container .container-login > .button-login:active {
  background-color: #135eb6;
}
#homepage .homepage-top-container .container-login .container-wx-login {
  cursor: pointer;
}
#homepage .homepage-top-container .container-login .container-wx-login > span {
  color: #4caf50;
}
#homepage .homepage-top-container .container-login > .container-regist {
  border-top: 1px solid #d8d8d8;
  font-size: 14px;
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homepage .homepage-top-container .container-login > .container-regist > span {
  color: #999;
}
#homepage .homepage-top-container .container-login > .container-regist > a {
  color: #4A90E2;
}
#homepage .homepage-top-container .container-login > .container-sub-login-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
#homepage .homepage-top-container .container-login > .container-sub-login-page > .back {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-sub-login-page > .remind {
  color: #4a90e2;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 208px;
  text-align: center;
}
#homepage .homepage-top-container .container-login > .container-sub-login-page > .go-bind {
  color: #4a90e2;
  margin-top: 20px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-qr-login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
#homepage .homepage-top-container .container-login > .container-qr-login > .back {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-qr-login > .remind {
  color: #4a90e2;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 208px;
  text-align: center;
}
#homepage .homepage-top-container .container-login > .container-qr-login > .go-bind {
  color: #4a90e2;
  margin-top: 20px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-qr-login > .qr-code {
  width: 180px;
  height: 180px;
}
#homepage .homepage-top-container .container-login > .container-qr-login > .qr-remind {
  color: #666;
}
#homepage .homepage-top-container .container-login > .container-never-bind {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .back {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .remind {
  color: #4a90e2;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 208px;
  text-align: center;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .go-bind {
  color: #4a90e2;
  margin-top: 20px;
  cursor: pointer;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .error {
  width: 60px;
  height: 60px;
  margin-bottom: 35px;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .remind {
  margin-bottom: 40px;
}
#homepage .homepage-top-container .container-login > .container-never-bind > .regist {
  width: 320px;
  height: 40px;
  background-color: #4a90e2;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
#homepage .homepage-top-container .homepage-carousel {
  position: relative;
  width: 1024px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#homepage .homepage-top-container .homepage-carousel #homepage-banners {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: scroll;
}
#homepage .homepage-top-container .homepage-carousel #homepage-banners .banner {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#homepage .homepage-top-container .homepage-carousel #homepage-banners::-webkit-scrollbar {
  display: none;
}
#homepage .homepage-top-container .homepage-carousel .ctrl {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  top: calc(50% - 50px);
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
#homepage .homepage-top-container .homepage-carousel .ctrl:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#homepage .homepage-top-container .homepage-carousel .ctrl:hover > img {
  width: 60px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel .ctrl > img {
  width: 40px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-previous {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  top: calc(50% - 50px);
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-previous:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-previous:hover > img {
  width: 60px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-previous > img {
  width: 40px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-next {
  position: absolute;
  width: 60px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  top: calc(50% - 50px);
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-next:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-next:hover > img {
  width: 60px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel .homepage-carousel-next > img {
  width: 40px;
  height: auto;
}
#homepage .homepage-top-container .homepage-carousel #homepage-index-points {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 12px;
  z-index: 2;
}
#homepage .homepage-top-container .homepage-carousel #homepage-index-points .index-point {
  margin: 0 5px;
  width: 50px;
  height: 2px;
  background-color: #e2e2e2;
}
#homepage .homepage-top-container .homepage-carousel #homepage-index-points .selected {
  background-color: #808080;
}
#homepage .homepage-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 24px;
  color: #333;
}
#homepage .homepage-brands-img {
  width: 918px;
}
#homepage .homepage-car {
  display: flex;
  /* flex-direction: column; */
  width: 1024px;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 8px;
  margin-bottom: 40px;
}
#homepage .homepage-car span {
  width: 20%;
  text-align: right;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
#homepage .homepage-car span .homepage-car-list-item {
  color: #999;
  font-size: 14px;
  margin-right: 30px;
}
#homepage .homepage-car span .homepage-car-list-item:hover {
  color: #4990e2;
  text-decoration: underline;
  cursor: pointer;
}
#homepage .homepage-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1024px;
  height: 220px;
  margin: 40px 0;
  background-color: #f2f2f2;
}
#homepage .homepage-data .homepage-data-run {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homepage .homepage-data .homepage-data-run span:nth-child(1) {
  font-size: 64px;
  color: #feba04;
}
#homepage .homepage-data .homepage-data-run span:nth-child(2) {
  font-size: 16px;
  color: #b4b4b4;
}
#homepage .homepage-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
  z-index: 11;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  background-color: #3f4342;
}
#homepage .homepage-bottom .homepage-bottom-about span {
  color: white;
  margin-right: 40px;
  cursor: pointer;
}
#homepage .homepage-bottom img {
  position: relative;
  top: 3px;
  width: 1px;
  height: 16px;
  background: none;
}
#homepage .homepage-bottom .homepage-bottom-license {
  position: relative;
  margin-top: 4px;
  color: #d8d8d8;
  font-size: 12px;
}
#homepage .homepage-bottom .homepage-bottom-license span {
  color: #d8d8d8;
  font-size: 12px;
}
#homepage .homepage-bottom .homepage-bottom-license span span {
  cursor: pointer;
}
#homepage .user-agreement {
  padding-top: 20px;
  text-align: center;
  overflow-y: scroll;
  height: calc(100% - 40px);
  background-color: white;
}
#homepage .user-agreement div {
  text-align: center;
}
#homepage .user-agreement p {
  text-align: left;
  padding: 0 10px;
}
